<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">

    <style>
        .table-hover tbody tr{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <% include ../include/header %>
    </header>
    <div class="container">
        <div class="row mt-5 mb-5">
            <% include ../include/research_nav %>
            <div class="col-md-10">
                <% include ../include/research_label %>
                <div class="border border-2 p-4">
                    <h4><%=result[0].thesis_name%></h4>
                    <div class="row mt-4">
                        <div class="col text-center">
                            <img class="img-fluid img-thumbnail mx-auto d-block" width="400px" src="https://www.dbpia.co.kr/img_cover/is_Cover/is_419428b.jpg" title="논문 첫 이미지"><br>
                        </div>
                        <div class="col">
                            <table class="table">
                                <div class="mb-4 float-end pr-5" style="cursor: pointer;" onclick="location.href='https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE09303090'">move ></div>
                                <tr>
                                    <td>구분</td>
                                    <td>비SCI</td>
                                </tr>
                                <tr>
                                    <td>게재지(권, 쪽)</td>
                                    <td>한국통신학회논문지(제45권 2호, pp.344-354)</td>
                                </tr>
                                <tr>
                                    <td>저자명</td>
                                    <td>이태석. 김준호, 고학림, 조용호</td>
                                </tr>
                                <tr>
                                    <td>게재연도</td>
                                    <td>2020</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../include/footer %>
    </footer>
</body>
</html>