<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">
</head>
<body>
    <header>
        <% include ./include/header %>
    </header>
    <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./images/555.jpg" class="d-block w-100" style="height: 50vh;">
              </div>
              <div class="carousel-item">
                <img src="./images/gall.jpg" class="d-block w-100" style="height: 50vh;">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div>
        <div class="container mt-3">
            <div class="row gx-5">
                <div class="col-md">
                    <table class="table table-hover" style="table-layout: fixed;">
                        <thead class="align-middle">
                            <th>공지사항</th>
                            <th><a href="#"><input type="button" class="btn btn-outline-dark float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">
                            <tr scope="row">
                                <th>12</th>
                                <td>hi</td>
                            </tr></a>
                            <tr>
                                <th>1</th>
                                <td>hi</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>hi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table">
                        <thead class="align-middle">
                            <th>학위논문</th>
                            <th><a href="#"><input type="button" class="btn btn-outline-dark  float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row gx-5">
                <div class="col-md">
                    <table class="table text-middle">
                        <thead class="align-middle">
                            <th>게시판</th>
                            <th><a href="#"><input type="button" class="btn btn-outline-dark float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">
                            <tr>
                                <th>1</th>
                                <td>hi</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>hi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md">
                    <table class="table text-middle">
                        <thead class="align-middle">
                            <th width="20%">갤러리</th>
                            <th width="80%"><a href="#"><input type="button" class="btn btn-outline-dark float-end" value="+"></a></th>
                        </thead>
                        <tbody class="align-middle">
                            <% for(let i=0; i<3; i++){ %>
                                <tr>
                                    <td>
                                        <img src="./images/<%=g_result[i].g_img%>" style="width: 100px; height: 100px;">
                                    </td>
                                    <td>
                                        <%=g_result[i].g_title%>
                                    </td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

        <div class="container marketing">
        <div class="row gx-5">
            <div class="col-md">
                <table style="width: 100%;">
                    <td>
                        <span style="margin-left: 10px; font-family: maple;">공지사항</span>
                    </td>
                    <td align= right>
                        <a  href="#"><input type="button" class="btn" value="+"
                        style="border: solid 1px black;"></a>
                    </td>
                </table>
                <hr style="border: solid 1px lightgray">
            </div>
            <div class="col-md">
                <table style="width: 100%;">
                        <td>
                            <span style="margin-left: 10px; font-family: maple;">학위논문</span>
                        </td>
                        <td align= right>
                            <a  href="/board"><input type="button" class="btn" value="+"
                            style="border: solid 1px black;"></a>
                        </td>
                </table>
                <hr style="border: solid 1px lightgray">
                <div>
                    <table>
                        <tr>
                            <td>
                                <span>
                                    <a href="#"><img src="./images/report.svg" style="width: 100px; height: 100px; margin-right: 15px"></a>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <a href="#" style="color: black; font-weight: bold; font-size: 13px">이기종 네트워크를 위한 다중 셀 검출 기법sdsds</a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div>
                    <table>
                        <tr>
                            <td>
                                <span>
                                    <a href="#"><img src="./images/report.svg" style="width: 100px; height: 100px; margin-right: 15px"></a>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <a href="#" style="color: black; font-weight: bold; font-size: 13px">이기종 네트워크를 위한 다중 셀 검출 기법sdsds</a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div>
                    <table>
                        <tr>
                            <td>
                                <span>
                                    <a href="#"><img src="./images/report.svg" style="width: 100px; height: 100px; margin-right: 15px"></a>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <a href="#" style="color: black; font-weight: bold; font-size: 13px">이기종 네트워크를 위한 다중 셀 검출 기법sdsds</a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md">
                <table style="width: 100%;">
                    <td>
                        <span style="margin-left: 10px; font-family: maple;">갤러리</span>
                    </td>
                    <td align= right>
                        <a  href="/gallery"><input type="button" class="btn" value="+"
                        style="border: solid 1px black;"></a>
                    </td>
                </table>
                <% for(let i=0; i<3; i++) { %>
                <hr style="border: solid 1px lightgray">
                <div>
                    <table>
                        <tr>
                            <td>
                                <span>
                                    <a href="#"><img src="./images/<%=g_result[i].g_img%>" style="width: 100px; height: 100px; margin-right: 15px"></a>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <a href="#" style="color: black; font-weight: bold; font-size: 13px"><%=g_result[i].g_title%></a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <% } %>
                <hr>
            </div>
    </div>
    </div>
</body>
</html>