<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
    </line>

    <style>
        @font-face {
            font-family: maple;
            src: url('./font/Maplestory Bold.ttf');
        }
    </style>

    <title>5G</title>
    <link href="./images/5g.png" rel="shortcut icon" type="image/x-icon">

    <style type="text/css">
        a:link {
            color: white;
            text-decoration: none;
        }

        a:visited {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: white;
            text-decoration: none;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-md navba-white bg-dark" style="position: fixed; top: 0; left: 0; right: 0;">
        <div class="w-100 order-md-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">대표말</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">멤버소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">학술논문</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">갤러리</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto">
            <a class="navbar-brand" href="">
                <img src="./images/logo.png" width="50" height="30" alt="">
            </a>
        </div>
        <div class="navbar-collapse w-100 order-3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-light" href="#">로그인</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="margin-top:56px; margin-bottom: 56px" id="carouselExampleFade" class="carousel slide carousel-fade"
        data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="./images/555.jpg" class="d-block w-100" alt="0" style="height: 50vh;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <span style="margin-left: 10px; font-family: maple;">공지사항</span>
                <a type="button" class="btn btn-outline-light"
                    style="border: solid 1px black; margin-left: 220px; color:black" role="button" href="#">+</a>
                <hr style="border: solid 1px lightgray">
                <div>
                    <span>
                        <img src="./images/itrc.png" style="width: 100px; height: 100px;">
                    </span>
                    <span style="margin-left: 20px;">
                        <a href="#" style="color: black; font-weight: bold;">ITRC 사업 안내</a>
                    </span>
                </div>
                <hr>
                <div>
                    <span>
                        <img src="./images/5g.png" style="width: 100px; height: 100px;">
                    </span>
                    <span style="margin-left: 20px;">
                        <a href="#" style="color: black; font-weight: bold;">5G 홈페이지 개설 안내</a>
                    </span>
                </div>
                <hr>
                <div>
                    <span>
                        <a href="#"><img src="./images/5g.png" style="width: 100px; height: 100px;"></a>
                    </span>
                    <span style="margin-left: 20px;">
                        <a href="#" style="color: black; font-weight: bold;"></a>
                    </span>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <span style="margin-left: 10px; font-family: maple;">학위논문</span>
                <a type="button" class="btn btn-outline-light"
                    style="border: solid 1px black; margin-left: 220px; color:black" role="button" href="#">+</a>
                <hr style="border: solid 1px lightgray">
                <div>
                    <span>
                        <a href="#"><img src="./images/report.svg" style="width: 100px; height: 100px;"></a>
                    </span>
                    <span style="margin-left: 20px;">
                        <a href="#" style="color: black; font-weight: bold; font-size: 12px">이기종 네트워크를 위한 다중 셀 검출 기법</a>
                    </span>
                </div>
                <hr>
                <div>
                    <span>
                        <a href="#"><img src="./images/report.svg" style="width: 100px; height: 100px;"></a>
                    </span>
                    <span style="margin-left: 20px;">
                        <a href="#" style="color: black; font-weight: bold; font-size: 12px">수중음향통신을 위한 물리계층 기술</a>
                    </span>
                </div>
                <hr>
                <div>
                    <span>
                        <a href="#"><img src="./images/5g.png" style="width: 100px; height: 100px;"></a>
                    </span>
                    <span style="margin-left: 20px;">
                        <a href="#" style="color: black; font-weight: bold; font-size: 13px">이기종 네트워크를 위한 다중 셀 검출 기법</a>
                    </span>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <span style="margin-left: 10px; font-family: maple;">갤러리</span>
                <a type="button" class="btn btn-outline-light"
                    style="border: solid 1px black; margin-left: 220px; color:black" role="button" href="#">+</a>
                <hr style="border: solid 1px lightgray">
                <div>
                    <span>
                        <a href="#"><img src="./images/고학림.jpg" style="width: 100px; height: 100px;"></a>
                    </span>
                    <span style="margin-left: 20px;">
                        <a href="#" style="color: black; font-weight: bold;">해양IT 연구 소장 취임식</a>
                    </span>
                    <hr>
                    <div>
                        <span>
                            <a href="#"><img src="./images/해양it.jpg" style="width: 100px; height: 100px;"></a>
                        </span>
                        <span style="margin-left: 20px;">
                            <a href="#" style="color: black; font-weight: bold;">해양보전 및 복원 ICT기술 포럼</a>
                        </span>
                    </div>
                    <hr>
                    <div>
                        <span>
                            <a href="#"><img src="./images/5g.png" style="width: 100px; height: 100px;"></a>
                        </span>
                        <span style="margin-left: 20px;">
                            <a href="#" style="color: black; font-weight: bold;">Open the 5G Homepage</a>
                        </span>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"><span class="text-muted">제목<br>부제</span></h2>
                <p class="lead">
                    내용
                </p>
            </div>
            <div class="col-md-5">
                <img src="./images/cat.jpg" class="img-fluid" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                        dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
</body>

</html>