<% include ./nav %>
        <section class="jumbotron text-center">
            <div class="container">
                <img src="./images/5g.png" alt="">
            </div>
        </section> 

        <div class="title" align="center">
            <h1>introduce 5G member</h1>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-md-4" align="center">
            <div class="col mb-4">
              <div class="card w-75">
                <img src="images/cat.jpg" alt="사진" class="card-img-top" width="170" height="280">
                <div class="card-body">
                  <h5 class="card-title">이름</h5>
                  <p class="card-text">소속</p>
                  <p class="card-text">이메일</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    더 보기
                  </button>
                    <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                      <div class="modal-body">
                        귀여움, 나도 고양이3
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col mb-4">
                <div class="card w-75">
                  <img src="images/cat.jpg" alt="사진" class="card-img-top" width="170" height="280">
                  <div class="card-body">
                    <h5 class="card-title">이름</h5>
                    <p class="card-text">소속</p>
                    <p class="card-text">이메일</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      더 보기
                    </button>
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        <div class="modal-body">
                          귀여움
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card w-75">
                  <img src="images/cat.jpg" alt="사진" class="card-img-top" width="170" height="280">
                  <div class="card-body">
                    <h5 class="card-title">이름</h5>
                    <p class="card-text">소속</p>
                    <p class="card-text">이메일</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      더 보기
                    </button>
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        <div class="modal-body">
                          귀여움
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card w-75">
                  <img src="images/cat.jpg" alt="사진" class="card-img-top" width="170" height="280">
                  <div class="card-body">
                    <h5 class="card-title">이름</h5>
                    <p class="card-text">소속</p>
                    <p class="card-text">이메일</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      더 보기
                    </button>
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        <div class="modal-body">
                          귀여움
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card w-75">
                  <img src="images/cat.jpg" alt="사진" class="card-img-top" width="170" height="280">
                  <div class="card-body">
                    <h5 class="card-title">이름</h5>
                    <p class="card-text">소속</p>
                    <p class="card-text">이메일</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      더 보기
                    </button>
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        <div class="modal-body">
                          귀여움
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card w-75">
                  <img src="images/cat.jpg" alt="사진" class="card-img-top" width="170" height="280">
                  <div class="card-body">
                    <h5 class="card-title">이름</h5>
                    <p class="card-text">소속</p>
                    <p class="card-text">이메일</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      더 보기
                    </button>
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        <div class="modal-body">
                          귀여움
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
<%-include include/footer.ejs%> 
      