<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <style>
        @import url(./stylesheets/nav.css);
    </style>
</head>
<body style="min-width: 770px;">
    <nav class="navbar nav_form navbar-expand-md navba-white bg-dark" style="z-index: 9999">
        <div align=left class="collapse navbar-collapse w-100 order-md-0" id="navbar-main">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/intro">대표말</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member">멤버소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board">학술논문</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">갤러리</a>
                </li>
            </ul>
        </div>
        <span align=center class="mx-auto">
            <a class="navbar-brand" href="/">
                <img src="./images/5g.png" class="logo_size" alt="">
            </a>
        </span>
        <div align=right class="collapse navbar-collapse w-100 order-3" id="navbar-main">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-light" href="/login">로그인</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            hello
        </button>
    </nav>
</body>

</html>