<<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
  패스워드가 성공적으로 변경되었습니다.
   
  <div class="login"><button class="btn btn-dark btn-block" type="submit" onclick="itrclogin()">로그인창으로 돌아가기</button></div>
</body>
</html>
<script>
     function itrclogin(){
        location.href="/login";
    }
</script>