<!DOCTYPE html>

<head>
    <style>
        .container .d-inline {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="bg-dark">
        <div class="container-fluid container p-3 text-light">
            <div class="m-3">
                <div class="d-inline" onclick="location.href='#'">개인정보처리방침</div>
                <div class="d-inline" onclick="location.href='/intro/business'">사업소개</div>
                <div class="d-inline" onclick="location.href='http://www.hoseo.ac.kr/Home/Contents.mbz?action=MAPP_1708220056'">오시는길</div>
            </div>
            <div class="m-3">
                우편번호 31499 충청남도 아산시 배방읍 호서로 79번길 20 제 2공학관 302호 5G 사업단
            </div>
            <div class="m-3">
                전화 : 041-000-0000 팩스 : 041-000-0000
            </div>
        </div>
    </div>
    <div class="fixed-bottom m-4">
        <button class="btn btn-outline-success float-end" onclick="location.href='#top'">∧</button>
    </div>
</body>

</html>