<div class="text-center m-5">
    <h1 id="label"></h1>
    <div id="detail"></div>
</div>
<script>
    var path = location.pathname
    var research_path = path.split('/')
    var label = document.getElementById("label")
    var detail = document.getElementById("detail")

    switch(research_path[2]){
        case "thesis": label.innerHTML="논문"; detail.innerHTML="ITRC 사업단의 발표 논문"; break;

        case "license": label.innerHTML="특허"; detail.innerHTML="ITRC 사업단의 발표 특허"; break;

        case "software": label.innerHTML="SW 및 콘텐츠"; detail.innerHTML="ITRC 사업단의 등록 SW 및 콘텐츠"; break;

        case "standard": label.innerHTML="표준화"; detail.innerHTML="ITRC 사업단의 등록 정보통신표준화"; break;

        case "technology": label.innerHTML="기술이전"; detail.innerHTML="ITRC 사업단의 기술이전"; break;
    }
</script>