.hcicdiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

@media (max-width: 992px){
    .hcicdiv{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    
    }
}

@media (max-width: 1130px){
    #hcicmember ul li{
        font-size: 14px;
    }
}