@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    font-family: 'Nanum Gothic', sans-serif;
}
/*table*/
.memberimg{
    width: 100%;
    height: 50vh;
}
.membertable .hello{
    text-align: center;
}
.title p{
    font-size: 50px;
}

.membertable{
    border-top: 1px solid black;
}
.membertable ul{
    text-align: left;
}
.membertable th{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}
.membertable td{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
}
.detailbtn{
    text-align: center;
    padding-bottom: 10px;
}

/*modal*/
#imgmodal{
    width: 200px;
    height: 250px;
}
#imtable td{
    width: 30px;
    text-align: right;
}
#comtable{
    margin-top: 20px;
    text-align: center;
    width: 450px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}
#comtable #hello{
    border-top: 2px solid black;
}
#comtable #world{
    border-top: 1px solid black;
}
#comtable #emailmodal{
    border-left: 1px solid black;
}
#comtable #phonemodal{
    border-left: 1px solid black;
}

#cartable{
    margin-top: 20px;
    text-align: center;
    width: 450px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}
#cartable #holy{
    border-top: 2px solid black;
}
#cartable #moly{
    border-top: 1px solid black;
}
#cartable #now{
    width: 110px;
    border-right: 1px solid black;
}
#cartable #wow{
    width: 110px;
    border-right: 1px solid black;
}

/*media query*/
@media (max-width: 575.98px){
    .container .row .membertable{
        width: 330px;
    }
    .container .row .membertable ul li{
        font-size: 13px;
    }
    .title p{
        font-size: 40px;
    }
}
@media (min-width: 576px){
    .container .row .membertable{
        width: 330px;
    }
}
@media (min-width: 768px){
    .container .row .membertable{
        width: 430px;
    }
}
@media (min-width: 992px){
    .container .row .membertable{
        width: 630px;
    }
}
@media (min-width: 1200px){
    .container .row .membertable{
        width: 500px;
    }
}
@media (min-width: 1400px){
    .container .row .membertable{
        width: 630px;
    }
}
