@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    font-family: 'Nanum Gothic', sans-serif;
}
#memberbanner{
    width: 100%;
    height: 50vh;
}

/*table*/
#hcicmember{
    width: 600px;
}
.hcictable ul{
    list-style: none;
}

#imtable th{
    width: 350px;
}
.phototable{
    width: 230px;
}
#career{
    width: 578px;
}
#careertable{
    width: 578px;
}