@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
.hello{
    font-family: 'NanumBarunGothic';
    background-image: url('../images/back1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.loginform{
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    width: 520px;
    position: relative;
    min-height: 100vh;
}
.wow{
    padding: 20px;
    width: 330px;
}
.title{
    font-size: 35px;
}

/*meida query*/
@media (min-width: 0px){
    .loginform{
        width: 100%;
        min-height: 100vh;
    }
    .wow{
        width: 330px;
    }
    .link{
        font-size: 16px;
    }
}
@media (min-width: 576px){
    .loginform{
        width: 100%;
        min-height: 100vh;
    }
    .wow{
        width: 330px;
    }
    .link{
        font-size: 16px;
    }
}

@media (min-width: 768px){
    .loginform{
        width: 400px;
        min-height: 100vh;
    }
    .wow{
        width: 330px;
    }
    .link{
        font-size: 16px;
    }
}
@media (min-width: 992px){
    .loginform{
        width: 450px;
        min-height: 100vh;
    }
    .wow{
        width: 330px;
    }
    .link{
        font-size: 16px;
    }
}

@media (min-width: 1200px){
    .loginform{
        width: 550px;
        min-height: 100vh;
    }
    .wow{
        width: 330px;
    }
    .link{
        font-size: 16px;
    }
}