.gallery-main {
    margin-left: 15%;
    margin-right:15%;
    display: grid;
    align-items: center;
    width: max-content;
    padding: 4rem;
    margin: 0 auto;
}

.detail-title {
    text-align: center;
    margin: 5%;
}

.detail-table {

}