
*{
    margin: 0;
    padding: 0;
}
.home_wrap{
    padding-bottom: calc(10rem - 4.5rem);
    background: /*linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8 )100%),*/ url("../../public/Image/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}
.top_item{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.top_text{
    font-weight: bold;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    color: #000;
    font-size: 80px;
}
#middle_item{
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8 )100%), url("../../public/Image/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}
#bottom_item{
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(122, 96, 122, 0.8) 0%, rgba(122, 96, 122, 0.8 )100%), url("../../public/Image/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}
.home_menu{
    text-align: right;
    font-size: 40px;
    color: #fff;
    margin-right: 10%;
    margin-bottom: 10%;
}