.notice_main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 3rem;
}

.header_table {
    width: 60%;
    height: 100%;
    border-collapse: collapse;
}

.notice_header th{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 5px solid black;
    border-bottom: 1px solid rgb(197, 192, 192);
}

.notice_header th:nth-child(1) {
    width:10%;
}

.notice_header th:nth-child(2) {
    padding-left: 50px;
    text-align: left;
    width: 45%;
}

.notice_header th:nth-child(3) {
    width: 10%;
}

.notice_header th:nth-child(4) {
    width: 20%;
}

/* .notice_body td {
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(197, 192, 192);
} */

.notice_body td {
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    color: rgb(34, 34, 34);
    border-bottom: 1px solid rgb(197, 192, 192);
}

.notice_body td:nth-child(2) {
    padding-left: 50px;
    text-align: left;
}

.pageBtn button {
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 50px;
    border: 0;
    outline: 0;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    width: 30px;
    height: 30px;
}

.pageBtn button:hover  {
    background:rgb(230, 230, 230);
    border-bottom: 1px solid black;
}
