.notice_main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 3rem;
}

.header_table {
    width: 70%;
    height: 100%;
    border-collapse: collapse;
}

.notice_header th{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid black;
    border-bottom: 3px solid black;
}

.notice_header th:nth-child(1) {
    width: 10%;
}

.notice_header th:nth-child(2) {
    width: 65%;
}

.notice_header th:nth-child(3) {
    width: 10%;
}

.notice_header th:nth-child(4) {
    width: 15%;
}

.notice_body td{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid black;
}
