<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
   
    당신의 새로운 비밀번호를 입력해주세요. <br>
    <form action="./pwCheck" method="POST" class="form-pwcheck">
    <input type="text" name="input_id" class="form-control mt-3 mb-1" placeholder="ID"><br>
    <input type="password" name="changepw" class="form-control mt-3 mb-1" placeholder="PW"><br>
    <input type="password" name="changepw_check" class="form-control" placeholder="PWCHECK"><br>
    <button class="btn btn-dark btn-block" type="submit" ">변경</button>
    </form>
   
</body>
</html>

<script>
   
</script>