<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <style>
        .title{
            margin-top: 25px;
            text-align: center;
            font-size: 28px;
            font-weight: 900;
        }
        .subtitle{
            text-align: center;
            font-size: 18px;
        }    
        .form-signin input[type=text]{
            width: 70%;
            border-radius: 10px;
        }
        .btn{
            width: 150px;
            height: 70px;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <form action="./idcheck" method="POST" class="form-signin">
        <p class="title">ID 중복확인</p>
        <p class="subtitle">사용할 아이디를 입력하여 주세요</p>
        <div align="center">
            <input type="text" name="input_id" id="input_id" class="form-control" placeholder="id">
        </div>
        <br>
        <hr style="border: solid 1px lightgray">

        <div align="center">
            <button class="btn btn-dark btn-block" type="submit">중복 확인</button>
            <button class="btn btn-dark btn-block" type="button" onclick="send()">닫기</button>
        </div>
    </form>   
</body>
</html>

<script type="text/javascript">
    opener.parent.hello();

    function send(){
        var txt = document.getElementById("input_id").value
        opener.document.getElementById("signup_Id").value = txt;

        window.close();
    }
    
</script>