<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col">
        <table class="table">
            <div class="mb-4 float-end pr-5" style="cursor: pointer;" onclick="location.href='https://www.dbpia.co.kr/Journal/articleDetail?nodeId=NODE09303090'">move ></div>
            <tr>
                <td>구분</td>
                <td>비SCI</td>
            </tr>
            <tr>
                <td>게재지(권, 쪽)</td>
                <td>한국통신학회논문지(제45권 2호, pp.344-354)</td>
            </tr>
            <tr>
                <td>저자명</td>
                <td>이태석. 김준호, 고학림, 조용호</td>
            </tr>
            <tr>
                <td>게재연도</td>
                <td>2020</td>
            </tr>
        </table>
    </div>
</body>
</html>