<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ITRC Signup</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../stylesheets/signup.css">
</head>
<body>
    <div class="hello">
        <div align="right">
            <div class="loginform">
                <form method="POST" name="signupform" onsubmit='return checking();'>
                    <table align="center" class="wow">
                        <thead>
                            <th><p class="title mt-5">ITRC 회원가입</p></th>
                        </thead>
                        <tbody>
                            <tr> 
                                <th><p align="left">아이디</p></th> 
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name ="signup_Id" class="form-control" id="signup_Id" placeholder="아이디" style="width : 60%">
                                        <span class="input-group-btn">
                                            <input type="button" class="btn btn-primary" id="idchkbtn" value="중복 확인" onclick="opencheck()">
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr> 
                                <th><p align="left">비밀번호</p></th> 
                            </tr>
                            <tr>
                                <td> 
                                    <input type="password" name ="signup_Pw" class="form-control" id="signup_Pw" placeholder="비밀번호">
                                </td>
                            </tr>
                            <tr> 
                                <th><p align="left">비밀번호 확인</p></th> 
                            </tr>
                            <tr>
                                <td>
                                    <input type="password" name="singup_chk" class="form-control" id="singup_chk" placeholder="비밀번호 확인">
                                </td>
                            </tr>
                            <tr> 
                                <th><p align="left">이름</p></th> 
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name ="signup_Name" class="form-control" id="signup_Name" placeholder="이름">
                                </td>
                            </tr>
                            <tr> 
                                <th><p align="left">번호</p></th> 
                            </tr>
                            <tr>
                                <td>
                                    <input type="tel" name ="signup_Tel" class="form-control" id="signup_Tel" placeholder="번호">
                                </td>
                            </tr>
                            <tr> 
                                <th><p align="left">이메일</p></th> 
                            </tr>
                            <tr>
                                <td>
                                    <input type="email" name ="signup_Email"class="form-control" id="signup_Email" placeholder="이메일">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="btnnow mt-4">
                        <label for="agreeck">
                            <input type="checkbox" name="agree" id="agreeck">(필수) 개인정보 약관동의
                        </label>
                        &nbsp;
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agreemodal">
                          약관동의
                        </button>
                    </div>
                    <div class="modal fade" id="agreemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              동의해라
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="btnwow mt-5">
                        <button type="submit" id="join-submit" class="btn btn-primary" onclick="form.action='/login/signup_data';">
                            회원가입
                        </button>
                    </div>
                    <input type="hidden" id="hihi" value="wow">
                </form><br>
                <div style="margin-top: 220px;">
                    계정이 있으신가요? <span><a href="/login">로그인</a></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var child;
    var main;

    function opencheck(){
        var setting = 'width=500px, height=500px, scrollbars=no, toolbar=no, resizeable=no, top=150, left=650';
        child = window.open('/login/idcheck', 'idchk', setting);
    }

    function hello(){
        child.document.getElementById("input_id").value = document.getElementById("signup_Id").value;
    }

    $(function(){
        
        $("#idchkbtn").click(function(){
            main = true;
            console.log(main);
        });

        $("#join-submit").click(function(){
            if(!main){
                alert('중복확인을 해주세요');
                console.log('버튼 눌러라');
                return false;
            }
            else{
                console.log('회원가입 성공');
            }
        });
    })

    function checking(){
        var uitid = document.getElementById("signup_Id");
        var uitname = document.getElementById("signup_Name");
        var uitpw = document.getElementById("signup_Pw");
        var uitpwcheck = document.getElementById("singup_chk");
        var uitemail = document.getElementById("signup_Email");
        var uittel = document.getElementById("signup_Tel");
        var chkbox = document.getElementsByName("agree");
        var chk = false;

        var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;
        
        if (uitid.value == ""){
            alert("아이디를 입력하지 않았습니다.");
            return false;
        }
        if (uitpw.value == ""){
            alert("비밀번호를 입력해 주세요");
            return false;
        }
        if (uitpwcheck.value == ""){
            alert("비밀번호를 다시한번 확인해 주세요");
            return false;
        }
        if ((uitpw.value)!=(uitpwcheck.value)) {
            alert("비밀번호가 일치 하지 않습니다.");
            return false;
        }
        if (!pwdCheck.test(uitpw.value)){
            alert("비밀번호는 영문+숫자+특수문자 조합으로 8~25자리 사용해야 합니다.");
            return false;
        }
        if (uitname.value=="") {
            alert("이름을 입력해 주세요");
            return false;
        }
        if (uittel.value=""){
            alert("번호를 입력해 주세요");
            return false;
        }
        if (uitemail.value=="") {
            alert("이메일을 입력해 주세요");
            return false;
        }
        for(var i=0; i<chkbox.length;i++){
            if(chkbox[i].checked){
                chk = true;
            }
            else{
                chk = false;
            }
        }

        if(chk){
            console.log('약관 동의 함');
        } 
        else {
            alert("약관에 동의해 주세요");
            return false;
        }

    }
</script>