<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/751431280519807068/800629207469785128/5g.png" rel="shortcut icon" type="images/x-icon">

    <style>
        .table-hover tbody tr{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <% include ../include/header %>
    </header>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-2">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li style="cursor: pointer;" class="breadcrumb-item" onclick="location.href='/intro'">소개</li>
                        <li class="breadcrumb-item active" aria-current="page">대표말</li>
                    </ol>
                </nav>
                <table class="table table-hover table-bordered text-center">
                    <tbody>
                        <tr onclick="location.href='/intro'">
                            <td>대표말</td>
                        </tr>
                        <tr onclick="location.href='/intro/business'">
                            <td>사업소개</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-10">
                <div class="text-center m-5">
                    <h1>대표말</h1>
                    5G 사업단장님 말씀
                </div>
                <div class="row featurette">
                    <div class="col-lg-5">
                        <img class="img-fluid img-thumbnail mx-auto d-block" src="/images/member/고학림.jpg" width="90%">
                    </div>
                    <div class="col-lg-7 order-lg-2 mt-5">
                        <h2 class="featurette-heading text-primary">5G 사업단은</h2><br>
                        <p class="fs-5">
                            5세대 이동통신은 2018년부터 채용되는 무선 네트워크 기술이다.<br><br>
                            2017년 12월의 3GPP 릴리스 15가 5G의 가장 일반적인 정의이다.<br><br>
                            일부는 더 엄격한 ITU IMT-2020 정의를 더 선호하지만 훨씬 더 빠른 속도의 고주파수 대역만 포함하고 있다.<br><br>
                            위키백과 5세대 이동 통신 발췌<br><br>
                            내용 받고 싶어요 ㅠㅠ<br><br>
                        </p>
                        <p class="fs-5 text-end">사업단장 교수 고학림</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <% include ../include/footer %>
    </footer>
</body>
</html>